table th, td {
    border: 3px solid black;
    border-collapse: collapse;
}

table th{
    background-color: black;
    color: white;
}

#customers th{
    background-color: #04AA6D;
    color: white;
   }
   
   #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    
  }
   
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #customers tr:nth-child(even){background-color: #f2f2f2;}

  #customers tr:hover{
           background-color: brown;
  }